/**
* 根据兼容设置webp格式背景图片
* @param $url 静态资源路径
* @param $repeat 图片重叠
* @param $import 图片权重
*/
@mixin webp($url, $repeat: no-repeat, $important: null) {
  background-image: url($url) $important;
  background-repeat: $repeat;

  @at-root .webp & {
    background-image: url($url + '.webp');
  }

  // @at-root .avif & {
  //   background-image: url(link($url + '.avif'));
  // }
}
